<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
    <h2>سفارشات تحویل داده نشده</h2>
    <div class="btn-group">
        <a href="/admin/ungivenOrders/create" class="btn btn-sm btn-primary">ایجاد سفارش جدید</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th>سفارش شماره</th>
                <th>سفارش دهنده</th>
                <th>کالاهای سفارش</th>
                <th>وضعیت</th>
                <th>عملیات</th>
                <th>تنظیمات</th>
            </tr>
        </thead>
        <tbody>
            <% ungivenOrders.docs.forEach((ungivenOrder, index)=> { %>
                <tr>
                    <td><a href="#">
                            <%= ungivenOrder.index %>
                        </a></td>
                    <td>
                        <%= ungivenOrder.customer %>
                    </td>
                    <td>
                        <% ungivenOrder.products.forEach(p=> { %>
                            <span class="mr-3">
                                <%= p.product.name %>
                            </span>
                            <% }) %>
                    </td>
                    <td>
                        <%= ungivenOrder.sent ? 'فرستاده شد' : 'ارسال نشده' %>
                    </td>
                    <td><a onclick="askForComplete('/admin/completeOrder/<%= ungivenOrder.id %>', $(this))"
                            class="btn btn-success text-white">تکمیل سفارش</a>
                    </td>
                    <td>
                        <form id="del-form-<%= index %>"
                            action="/admin/ungivenOrders/<%= ungivenOrder.id %>?_method=DELETE" method="post">
                            <div class="btn-group btn-group-sm">
                                <a href="/admin/ungivenOrders/<%= ungivenOrder.id %>/view"
                                    class="btn btn-dark">مشاهده</a>
                                <a href="/admin/ungivenOrders/<%= ungivenOrder.id %>/edit"
                                    class="btn btn-primary">ویرایش</a>
                                <a onclick="askForDelete('<%= index %>')" class="btn btn-danger text-white">حذف</a>
                            </div>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <%- include(viewPath('layouts/pagination') ,{ pagination : ungivenOrders}) %>
</div>

<script src="/assets/js/ask.js"></script>
<script>
    function askForComplete(url, elem) {
        Swal.fire({
            title: 'سوال',
            text: "آیا از تکمیل شدن این سفارش اطمینان دارید ؟",
            type: 'question',
            showCancelButton: true,
            confirmButtonColor: 'green',
            cancelButtonColor: '#d33',
            confirmButtonText: 'بله',
            cancelButtonText: 'خیر'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    method: 'get',
                    url,
                    success: () => {
                        elem.parent().parent().remove();
                    }
                });
            }
        })
    }
</script>