<link rel="stylesheet" href="assets/bootstrap-select/css/bootstrap-select.min.css">
<style>
  .dropdown-menu .show {
    text-align: right;
  }
</style>
<div class="container mb-5 p-5"
  style="margin-top: 125px;border-radius: 12px; box-shadow: 0px 0px 20px #2323;text-align: right;">
  <form action="/products/payment" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">نام و نام خوانوادگی <span style="color: red;">*</span></label>
        <input value="<%= old('username') %>" type="username" name="username" class="form-control" id="username"
          placeholder="نام و نام خوانوادگی">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">ایمیل <span style="color: red;">*</span></label>
        <input value="<%= old('email') %>" type="" name="email" class="form-control" id="inputEmail4"
          placeholder="ایمیل">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">محل ارسال محصول(ها) <span style="color: red;">*</span></label>
      <input value="<%= old('address') %>" type="text" name="address" class="form-control" id="inputAddress"
        placeholder="خیابان کاوه، خیابان نگارستان ...">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="telephone">شماره تلفن تماس <span style="color: red;">*</span></label>
        <input value="<%= old('telephone') %>" type="text" name="telephone" class="form-control" id="telephone"
          placeholder="091399999999">
      </div>
      <div class="form-group col-md-6">
        <label for="inputZip">کدپستی (بدون فاصله و با اعداد انگلیسی) <span style="color: red;">*</span></label>
        <input value="<%= old('postalCode') %>" name="postalCode" name="postalCode" type="text" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="province">استان ارسال <span style="color: red;">*</span></label>
        <select value="<%= old('province') %>" name="province" class="form-control selectpicker" data-live-search="true">
          <option value="تهران" data-tokens="2">تهران</option>
          <option value="خوزستان" data-tokens="1">خوزستان</option>
          <option value="ایلام" data-tokens="3">ایلام</option>
          <option value="بوشهر" data-tokens="4">بوشهر</option>
          <option value="اردبیل" data-tokens="5">اردبیل</option>
          <option value="اصفهان" data-tokens="6">اصفهان</option>
          <option value="یزد" data-tokens="7">یزد</option>
          <option value="کرمانشاه" data-tokens="8">کرمانشاه</option>
          <option value="کرمان" data-tokens="9">کرمان</option>
          <option value="همدان" data-tokens="10">همدان</option>
          <option value="قزوین" data-tokens="11">قزوین</option>
          <option value="زنجان" data-tokens="12">زنجان</option>
          <option value="لرستان" data-tokens="13">لرستان</option>
          <option value="البرز" data-tokens="14">البرز</option>
          <option value="آذربایجان شرقی" data-tokens="15">آذربایجان شرقی</option>
          <option value="آذربایجان غربی" data-tokens="16">آذربایجان غربی</option>
          <option value="چهارمحال و بختیاری" data-tokens="17">چهارمحال و بختیاری</option>
          <option value="خراسان جنوبی" data-tokens="18">خراسان جنوبی</option>
          <option value="خراسان رضوی" data-tokens="19">خراسان رضوی</option>
          <option value="خراسان شمالی" data-tokens="20">خراسان شمالی</option>
          <option value="سمنان" data-tokens="21">سمنان</option>
          <option value="فارس" data-tokens="22">فارس</option>
          <option value="قم" data-tokens="23">قم</option>
          <option value="کردستان" data-tokens="24">کردستان</option>
          <option value="کهگیلویه و بویراحمد" data-tokens="25">کهگیلویه و بویراحمد</option>
          <option value="گلستان" data-tokens="26">گلستان</option>
          <option value="گیلان" data-tokens="27">گیلان</option>
          <option value="مازندران" data-tokens="28">مازندران</option>
          <option value="مرکزی" data-tokens="29">مرکزی</option>
          <option value="هرمزگان" data-tokens="30">هرمزگان</option>
          <option value="سیستان و بلوچستان" data-tokens="31">سیستان و بلوچستان</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="city">شهر ارسال <span style="color: red;">*</span></label>
        <input value="<%= old('city') %>" name="city" name="city" type="text" class="form-control">
      </div>
    </div>
    <hr class="my-3">
    <p>برای پیگیری سفارش خرید خود و استفاده بیشتر از امکانات سایت، رمزی را برای ایجاد حساب خود وارد کنید. <span style="color: red;">*</span></p>
    <div class="form-group col-md-6">
      <input value="<%= old('password') %>" name="password" name="password" type="password" class="form-control">
    </div>
    <hr class="my-3">
    <button type="submit" class="btn btn-primary">خرید محصول(ها)</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>

<script>
  $('.my-select').selectpicker({
    dir: 'rtl'
  });
</script>