<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ایجاد محصول</h2>
</div>
<form class="form-horizontal" action="/admin/products/create" method="post" enctype="multipart/form-data">

    <%- include(viewPath('layouts/error-messages')) -%>

    <div class="form-group row">
        <div class="col">
            <label for="title" class="control-label font-weight-bold">عنوان محصول</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="عنوان را وارد کنید" value="<%= old('name') %>">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <label for="category" class="control-label font-weight-bold font-weight-bold">دسته بندی</label>
            <select name="category" id="category" class="form-control form-control-chosen" data-placeholder="دسته بندی مورد نظر ...">
                <% categories.forEach(cate => { %> 
                    <option value="<%= cate.id %>"><%= cate.name %> - <%= cate.parent ? cate.parent.name : '' %></option>                        
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group row">
      <div class="col">
          <label for="body" class="control-label font-weight-bold">متن</label>
          <textarea rows="10" class="form-control" name="desc" id="desc" placeholder="متن مقاله را وارد کنید"><%= old('desc', 'یکی از محصولات خوب و با کیفیت فروشگاه') %></textarea>
      </div>
    </div>
    <div class="form-group row my-5">
        <div class="col">
            <label for="image" class="control-label font-weight-bold">تصویر اصلی محصول</label>
            <input type="file" name="image" id="image">
        </div>
        <div class="col">
            <label for="images" class="control-label font-weight-bold">تصاویر اختیاری محصول</label>
            <input type="file" name="images" id="images" multiple accept="image/*">
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col-6">
            <label for="count" class="control-label font-weight-bold">تعداد موجود محصول در انبار</label>
            <input type="text" class="form-control" name="count" id="count" placeholder="تعداد را وارد کنید" value="<%= old('count') %>">
        </div>
        <div class="col-6">
            <label for="price" class="control-label font-weight-bold">قیمت (تومان)</label>
            <input type="text" class="form-control" name="price" id="price" placeholder="قیمت ها را وارد کنید" value="<%= old('price') %>">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-info btn-block my-5">ارسال</button>
        </div>
    </div>
</form>


<script src="/admin/ckeditor/ckeditor.js"></script>
<script>
     CKEDITOR.replace('desc' , {
        filebrowserUploadUrl : '/admin/upload-image',
        contentsLangDirection: 'rtl'
     })
</script>