<style>
    .price {
        color: black;
        font-weight: 700;
    }
</style>

<div class="d-flex justify-content-between align-items-center mb-3 border-bottom-1">
        <h2>محصولات</h2>
        <div class="btn-group">
            <a href="/admin/products/create" class="btn btn-sm btn-primary">ایجاد محصول جدید</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center" >
            <thead>
            <tr>
                <th>عنوان محصول</th>
                <th>تعداد نظرات</th>
                <th>مقدار بازدید</th>
                <th>تعداد در انبار</th>
                <th>قیمت محصول (تومان)</th>
                <th>وضعیت محصول</th>
                <th>تنظیمات</th>
            </tr>
            </thead>
            <tbody>
                <% products.docs.forEach((product, index) => { %> 
                    <tr>
                        <td><a href="/product?pi=<%= product.id %>"><%= product.name %></a></td>
                        <td><%= product.commentCount %></td>
                        <td><%= product.viewCount %></td>
                        <td><%= product.count %></td>
                        <td class="price"><%= numberWithCommas(product.price) %></td>
                        <td>
                            <% if(product.awailable) { %>
                                <span style="color: green;">موجود</span>
                                <% } else { %>
                                <span style="color: red;">ناموجود</span>
                            <% } %>
                        </td>
                        <td>
                            <form id="del-form-<%= index %>" action="/admin/products/<%= product.id %>?_method=DELETE" method="post">
                                <div class="btn-group btn-group-sm">
                                    <a href="/admin/products/<%= product.id %>/edit"  class="btn btn-info">ویرایش</a>
                                    <a onclick="askForDelete('<%= index %>')" type="submit" class="btn btn-danger text-white">حذف</a>
                                </div>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <%- include(viewPath('layouts/pagination') ,{ pagination : products}) %>
    </div>
    
<script src="/assets/js/ask.js"></script>
<%
function numberWithCommas(number) {
  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%>