

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>فروشگاه صنایع دستی ارمغان</h1>
          <h2 style="color: aqua;">تجربه خریدی راحت و آسان </h2>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a href="#"></a>در دسترس</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a href="#">رضایت مشتری</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line"></i>
            <h3><a href="#">ساعت کاری 16 ساعته</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line"></i>
            <h3><a href="#">تنوع محصولات</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 mt-4 mt-xl-0">
          <div class="icon-box">
            <i class="ri-database-2-line"></i>
            <h3><a href="#">دارای شعبات مختلف</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100" style="text-align: right;">
            <h3>فروشگاه های ارمغان <br> در دو شعبه واقع شده در میدان امام</h3>
            <ul class="mt-5">
              <li>
                <p>شعبه 1: بازار مسگرها ابتدای بازار</p>
                 <i class="ri-check-double-line"></i> 
              </li>
              <li>
                <p>شعبه 2: مسجد شیخ لطف الله ابتدای بازار </p>
                <i class="ri-check-double-line"></i> 
              </li>
            </ul>
            <p>
              هر دو شعبه از ساعت 10 صبح تا 10 شب در اختیار شما عزیزان میباشد.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services" dir="ltr">
      <div class="container" data-aos="fade-up">

        <div class="section-title" style="text-align: right;">
          <h2>خدمات</h2>
          <p>خدمات فروشگاه ارمغان</p>
        </div>

        <div class="row" dir="rtl">
          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">سرعت بالا در پاسخگویی</a></h4>
              <p>فروشگاه های ارمغان در سریعترین زمان ممکن پاسخگوی شما عزیزان میباشد</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">ارائه توضیحات</a></h4>
              <p>فروشگاه های ارمغان توضیحات کاملی در رابطه با محصول مورد نظرتان را به شما میدهند</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">پاسخگو به چند زبان مختلف</a></h4>
              <p>تیم ما قادر است پاسخگوی انواع توریست ها و گردشگران عرب و انگلیسی زبان باشد</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">ارائه ویدیوی معرفی</a></h4>
              <p>شما میتوانید در شبکه های اجتماعی فیلم معرفی محصولات مختلف را مشاهده کنید</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">معرفی مکان های گردشگری اصفهان</a></h4>
              <p>شما گردشگران عزیز میتوانید در رابطه با مکان های گردشگری مختلف در اصفهان از تیم ما مشورت بگیرید</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>شبکه های اجتماعی</h3>
          <p>شما عزیزان میتوانید ما را در شبکه های اجتماعی دنبال کنید و از آخرین اخبار باخبر شوید.</p>
          <a class="cta-btn" href="#" style="font-family: Vazir;">پیج اینستاگرام ما</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" style="text-align: right;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>محصولات</h2>
          <p>برخی از محصولات فروشگاه های ارمغان</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">همه</li>
              <li data-filter=".چوب" >  خاتم  </li>
              <li data-filter=".مس">مس</li>
              <li data-filter=".مینیاتور">مینیاتور</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <% if(products.length > 0) {
            products.forEach((product) => { %>
              <div class="col-lg-4 col-md-6 portfolio-item <%= product.category.name %>">
                <div class="portfolio-wrap">
                  <img src="<%= product.image %>" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><%= product.name %></h4>
                    <p><%= product.category.name %></p>
                    <div class="portfolio-links">
                      <!-- <a href="/product?pi=<%= product.image %>" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a> -->
                      <a href="/product?pi=<%= product.id %>" title="مشاهده اطلاعات محصول"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          <% }) } %>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Counts Section ======= -->
    <!-- <section id="counts" class="counts mr-lg-4" style="text-align: right;">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 pr-lg-5 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>امتیازات فروشگاه های ارمغان</h3>
              <p>
                فروشگاه های ارمغان دارای امتیازات منحصر به فردی میباشد که باعث میشوند شما در خرید خود اطمینان بیشتری داشته باشید.
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">65</span>
                    <p><strong>رضایت مشتری</strong> از مهمترین فاکتورهای ما برای ارائه خدمات به مشتریان عزیز میباشد.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">85</span>
                    <p><strong>محصولات</strong> مختلفی که در فروشگاه های ارمغان وجود دارند به انتخاب راحت تر شما کمک میکنند.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time"></i>
                    <span data-toggle="counter-up">12</span>
                    <p><strong>سال سابقه</strong> در فروش و تولید انواع صنایع دستی.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award"></i>
                    <span data-toggle="counter-up">15</span>
                    <p><strong>گواهی های متعدد</strong> برای فروش و ثبت محصوالات. دارای مجوز کسب برای هر دو شعبه.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials" dir="ltr">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>علی اصغری</h3>
            <h4>خریدار تخته نرد</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              به نظر من هر کس حداقل باید یک بار از فروشگاه های ارمغان تخته نرد چوبی را خریداری کند.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>محمد اسماعیلی</h3>
            <h4>خریدار مینیاتور</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              نقش ها و طراحی های روی محصولات این فروشگاه ها بسیار منحصر به فرد و عالی میباشد. به نظرم بهترین انتخاب برای تزیینات خانه میباشد.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>الناز خدادادی</h3>
            <h4>خریدار مس</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                بسیار کیفیت بالایی داشت و من پس از یک سال استفاده هنوز مشکلی در محصولی که از این فروشگاه خریداری کرده ام ، ندیده ام.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>سپهر شریفی</h3>
            <h4>خریدار ساعت خاتم</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              خاتم های به کار برده شده بسیار ناب میباشد که من تابحال مثالی از انها را دربازار پیدا نکرده بودم.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>پریناز یاری</h3>
            <h4>خریدار جادستمالی</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              خرید محصولی با این کیفیت منو اینقدر هیجان زده کرد که باعث شد مسیر زندگی من تغییر بکنه و من خیلی خوشحالم از این بایت.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team" style="text-align: right;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>تیم</h2>
          <p>تیم فروشگاه های ارمغان</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>علی فرخ پیام</h4>
                <span>مدیر شعبه 1</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>محسن فرخ پیام</h4>
                <span>مدیر شعبه 2</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>عرفان پورسینا</h4>
                <span>توسعه دهنده سایت و شبکه های اجتماعی فروشگاه ها</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>سمانه وفایی</h4>
                <span>توسعه دهنده پیج اینستاگرام</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style="text-align: right;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ارتباط</h2>
          <p>ارتباط با ما</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>آدرس:</h4>
                <p>میدان امام، بازار مسگرها، مغازه اول</p>
                <p style="margin-right: 53px;padding-top: 5px;">میدان امام، مسجد شیخ لطف الله، مغازه اول</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>ایمیل:</h4>
                <p>armghanshop@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>تماس:</h4>
                <p>+98 32265487</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="نام شما" data-rule="minlen:4" data-msg="نام شما باید حداقل شامل 4 کارکتر باشد" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="ایمیل شما" data-rule="email" data-msg="لطفا یک ایمیل معتبر رار وارد کنید" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="موضوع" data-rule="minlen:4" data-msg="موضوع شما باید حداقل دارای 8 کارکتر باشد" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="لطفا پیغام خود را برای ما بنویسید" placeholder="پیغام شما"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading mr-4">در حال ارسال</div>
                <div class="error-message"></div>
                <div class="sent-message">پیغام شما با موفقیت ارسال شد !</div>
              </div>
              <div class="text-center"><button type="submit">ارسال پیغام</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
